#jquery-overlay {
position: absolute;
top: 0;
left: 0;
z-index: 90;
width: 100%;
height: 500px;
}
#jquery-lightbox {
position: absolute;
top: 0;
left: 0;
width: 100%;
z-index: 100;
text-align: center;
line-height: 0;
}
#jquery-lightbox a img { border: none; }
#lightbox-container-image-box {
position: relative;
background-color: #fff;
width: 250px;
height: 250px;
margin: 0 auto;
}
#lightbox-container-image { padding: 10px; }
#lightbox-loading {
position: absolute;
top: 40%;
left: 0%;
height: 25%;
width: 100%;
text-align: center;
line-height: 0;
}
#lightbox-nav {
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 100%;
z-index: 10;
}
#lightbox-container-image-box > #lightbox-nav { left: 0; }
#lightbox-nav a { outline: none;}
#lightbox-nav-btnPrev, #lightbox-nav-btnNext {
width: 49%;
height: 100%;
zoom: 1;
display: block;
}
#lightbox-nav-btnPrev {
left: 0;
float: left;
}
#lightbox-nav-btnNext {
right: 0;
float: right;
}
#lightbox-container-image-data-box {
font: 10px Verdana, Helvetica, sans-serif;
background-color: #fff;
margin: 0 auto;
line-height: 1.4em;
overflow: auto;
width: 100%;
padding: 0 10px 0;
}
#lightbox-container-image-data {
padding: 0 10px;
color: #666;
}
#lightbox-container-image-data #lightbox-image-details {
width: 70%;
float: left;
text-align: left;
}
#lightbox-image-details-caption { font-weight: bold; }
#lightbox-image-details-currentNumber {
display: block;
clear: left;
padding-bottom: 1.0em;
}
#lightbox-secNav-btnClose {
width: 66px;
float: right;
padding-bottom: 0.7em;
}
*{padding: 0; margin: 0;}
#TB_window {
font: 12px Arial, Helvetica, sans-serif;
color: #333333;
}
#TB_secondLine {
font: 10px Arial, Helvetica, sans-serif;
color:#666666;
}
#TB_window a:link {color: #666666;}
#TB_window a:visited {color: #666666;}
#TB_window a:hover {color: #000;}
#TB_window a:active {color: #666666;}
#TB_window a:focus{color: #666666;}
#TB_overlay {
position: fixed;
z-index:100;
top: 0px;
left: 0px;
height:100%;
width:100%;
}
.TB_overlayMacFFBGHack {background: url(/media/Images/common/macFFBgHack.png) repeat;}
.TB_overlayBG {
background-color:#000;
filter:alpha(opacity=75);
-moz-opacity: 0.75;
opacity: 0.75;
}
* html #TB_overlay { /* ie6 hack */
position: absolute;
height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}
#TB_window {
position: fixed;
background: #ffffff;
z-index: 102;
color:#000000;
display:none;
border: 4px solid #525252;
text-align:left;
top:50%;
left:50%;
}
* html #TB_window { /* ie6 hack */
position: absolute;
margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}
#TB_window img#TB_Image {
display:block;
margin: 15px 0 0 15px;
border-right: 1px solid #ccc;
border-bottom: 1px solid #ccc;
border-top: 1px solid #666;
border-left: 1px solid #666;
}
#TB_caption{
height:25px;
padding:7px 30px 10px 25px;
float:left;
}
#TB_closeWindow{
height:25px;
padding:11px 25px 10px 0;
float:right;
}
#TB_closeAjaxWindow{
padding:7px 10px 5px 0;
margin-bottom:1px;
text-align:right;
float:right;
}
#TB_ajaxWindowTitle{
float:left;
padding:7px 0 5px 10px;
margin-bottom:1px;
}
#TB_title{
background-color:#e8e8e8;
height:27px;
}
#TB_ajaxContent{
clear:both;
padding:2px 15px 15px 15px;
overflow:auto;
text-align:left;
line-height:1.4em;
}
#TB_ajaxContent.TB_modal{
padding:15px;
}
#TB_ajaxContent p{
padding:5px 0px 5px 0px;
}
#TB_load{
position: fixed;
display:none;
height:13px;
width:208px;
z-index:103;
top: 50%;
left: 50%;
margin: -6px 0 0 -104px; /* -height/2 0 0 -width/2 */
}
* html #TB_load { /* ie6 hack */
position: absolute;
margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}
#TB_HideSelect{
z-index:99;
position:fixed;
top: 0;
left: 0;
background-color:#fff;
border:none;
filter:alpha(opacity=0);
-moz-opacity: 0;
opacity: 0;
height:100%;
width:100%;
}
* html #TB_HideSelect { /* ie6 hack */
position: absolute;
height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}
#TB_iframeContent{
clear:both;
border:none;
margin-bottom:-1px;
margin-top:1px;
_margin-bottom:1px;
}
</link>
<link href="/shop_media/css/store.css" rel="stylesheet">
.store #product_description p { letter-spacing: 1px; }
p {
margin-bottom: 12px;
}
.store p { margin-bottom: 0px; }
.store #cost { margin-bottom: 45px; }
table th, table td {
font-size: 12px;
}
.loading {
display: none;
}
img {
border: none;
}
a {
text-decoration: none;
color: #545454;
}
.break {
clear: both;
height: 1px;
width: 100%;
border-bottom: 1px solid #dfdfdf;
}
div.grey {
clear: both;
padding:5px 11px;
margin:4px 0;
}
div.grey .info {
padding-left: 10px
}
.grey {
background-color: #eee;
}
.title {
font-size: 16px;
}

.grey .title {
line-height:25px;
}
.info {
font-size: 11px;
color: #777;
}
label {
font-style: normal;
text-decoration: none;
font-size: 14px;
text-align: left;
}
th {
text-align: center;
}
#item_header {
text-align: left;
}
#breadcrumbs {
color:#333;
float:left;
font-size:8pt;
padding-top:10px;
text-transform: uppercase;
}
#shopping_cart_info {
float: right;
padding:15px 5px 2px 0;
margin-right: 15px;
}
#shopping_cart_info .spacer {
width: 10px;
}
#shopping_cart_info a {
color: #545454;
}
#cart_image a {
text-decoration: none;
color: #000;
}
#cart_image img {
margin-right: 8px;
position: relative;
margin-bottom: -4px;
}
#subheader {
margin-bottom:30px;
padding-bottom: 37px;
width: 970px;
margin: -10px auto 0;
}
/*table {
border-width: 0px;
border-spacing: 0px 0px;
padding: 0px;
}*/
div.product_list {
width: 100%;
}
.product_list h2 {
padding-bottom: 5px;
}
h2.sel {
background: url('http://www.stampdla.com/shop/Images/selects_header.jpg') left center no-repeat;
text-indent: -9999px;
padding-bottom: 8px;
margin-top: -10px;
}
.ie6 h2.sel,
.ie7 h2.sel { height: 25px; margin-top: 0px; padding: 0px; }
h2.std {
background: url('http://www.stampdla.com/shop/Images/standards_header.jpg') left center no-repeat;
text-indent: -9999px;
border-top: 1px solid #dfdfdf;
height: 55px;
}
div.product {
width:200px;
float: left;
margin-right: 45px;
}
.store div.product.last {
margin-right: 0;
clear:right;
}
/*#product_table tr,
#product_table_two tr {
border-bottom: 1px solid #dfdfdf;
text-align: center;
}*/
.product_name a {
font-style: italic;
font-family: "Times New Roman", serif;
letter-spacing: 1px;
/*color: #2D56A6;*/
color: #545454;
/*text-transform: uppercase;*/
}
#ccv-helper {
color: #333333;
}
#product_detail { margin-top: 30px; }
#product_detail .product_image {
float:left;
}
#product_detail #product_image { /* Magic happens here ------------------------------*/
padding-bottom:25px;
float: left;
width: 550px;
padding-right:90px; /* initially 135 */
text-align: center;
display: inline;
position: relative;
}
#product_detail #product_info {
display:inline;
float:left;
margin-bottom:30px;
width:287px; /* initiall 287 */
}
#product_info #product_name { /* Magic happens here ------------------------------*/
/* font-family: "US101Regular", sans-serif; */
font-size: 24px; /*WAS 20px*/
/*font-weight: bold;*/
margin-bottom: 10px;
}
#product_info #product_description {
color: #666;
padding-bottom: 0px;
}
#product_info #cost {
font-family: "US101Regular", sans-serif;
font-size: 13pt;
/* font-weight:bold;*/
color:#404040;
}
#product_info #style {
padding-top: 10px;
font-size:8.5pt;
color:#404040;
padding-bottom: 10px;
}
#product_info .product_option {
padding-bottom: 5px;
}
.product_option select {
width: 100px;
}
#product_info #quantity {
padding-bottom: 20px;
color:#404040;
}
#product_detail #product_images {
border-top: 1px solid #dfdfdf;
clear: both;
}
#basket_table {
text-align: center;
width: 100%;
}
#calculate_tax_and_shipping {
float: left;
width:600px;
}
#computed_costs {
margin:15px 12px 0 0;
float:right;
}
#computed_costs .gtotal {
font-size: 14px;
font-weight: bold;
}
#computed_costs .leftside{
line-height:22px;
text-align:right;
}
#computed_costs .rightside{
text-align: right;
width: 90px;
}
form table {
padding-top: 0px;
border-spacing: 10px;
}
#update_basket_items_form table {
border-spacing: 0px;
}
input[type="text"] {
width: 250px;
}
input.quantity {
border:1px solid #DFDFDF;
height:18px;
padding:1px;
text-align:center;
width:18px;
}
input, select, textarea {
border:1px solid #DFDFDF;
min-height:18px;
}
input.submit {
border:0pt;
}
input[type="checkbox"] {
min-height: inherit;
}
#update_ship_address {
padding-top: 15px;
padding-left: 15px;
}
#id_creditcard-exp_month {
width: 45px;
}
#id_creditcard-exp_year {
width: 60px;
}
table .grey td {
padding: 5px;
padding-bottom: 2px;
}
table .grey th {
padding: 5px;
}
#complete_purchase {
margin: 20px auto;
text-align: center;
}
#container {
width: 100%;
text-align:left;
margin: auto;
padding-top: 0px;
}
table#basket_table tr img#continue_shopping {
padding:12px 0;
}
table#basket_table tr img {
padding:37px 0px;
}
.form_element {
float:left;
line-height:26px;
padding:0 9px 0 0;
}
#update_address {
float:left;
}
input.remove, #update_address, #id_ship_to_pobox {
max-height:14px;
border:0;
}
#id_creditcard-ccv, #id_cc_ccv {
width:110px;
}
#id_creditcard-number, #id_cc_number {
width:150px;
}
#id_cc_type {
width:95px;
}
/*#product_table tr,
#product_table_two tr {
border-bottom:1px solid #CCC;
}*/
.product_image {
padding:15px;
}
.add_to_cart_btn {
border:0;
}
p.thanks {
margin: 9px;
}
.product {
height:120px;
padding:8px 0;
text-align:center;
width:200px;
}
.product .product_thumb{
/*height: 160px;*/
height: 140px;
margin: auto;
padding-top: 15px;
}
.product_thumb img {
cursor: pointer;
}
#empty_cart {
font-size: 16px;
margin: 25px 15px 30px 15px;
}
#product_info #add_form {
margin-top: 25px;
}
#product_info #add_form #add_button {
margin-top: 5px;
}
#product_detail #product_image .zoomer {
clear: both;
background: url('/Images/blkx/zoom_icon.gif') top left no-repeat;
z-index: 100;
width: 110px;
height: 24px;
text-align: right;
padding-top: 1px;
float: right;
margin-top: 3px;
}
#product_detail #product_image .zoomer a {
padding-left:20px;
color: #999;
font-size: 11px;
}
#calculate_tax_and_shipping .error {
font-size: 14px;
margin: 15px auto 10px auto;
}
.error {
color: red;
margin-left: 30px;
}
.errorlist {
color: red;
}
#calculate_tax_and_shipping .title {
color: #333;
}
.product_table table {
width: 100%;
text-align: center;
border-right-width: 1px;
border-style: solid;
border-color: #ddd;
margin-bottom: 10px;
}
.product_table table td,.product_table table th {
border-width: 0 0 1px 1px;
border-color: #ddd;
border-style: solid;
}
.product_table thead th {
padding-bottom: 5px;
padding-top: 5px;
}
.product_table table thead {
background-color: #eee;
}
.hidden {
display: none;
}
table.order_list {
width: 100%;
text-align: center;
}
tr.even {
background-color: #eee;
}
#update_basket_actions div {
float: left;
}
#update_basket_actions .update_cart {
margin-left: 350px;
}
#update_basket_actions #subtotal_label {
margin-left: 40px;
}
#update_basket_actions #subtotal_content {
float: right;
margin-right: 20px;
}
.clear {
clear: both;
}
#post_product_table {
float:right;
text-align: right;
}
.original_price {
color: #777;
text-decoration: line-through;
display: inline;
}
.reduced_price {
color: #ff7f00;
display: inline;
padding-left: 5px;
}
#product_available_options {
padding-bottom: 15px;
}
input[type="image"] {
border: none;
}
#main_login_form {
margin-left: 200px;
margin-top: 100px;
margin-bottom: 100px;
}
#main_login_form td {
padding: 3px;
}
#main_login_form input[type="text"], #main_login_form input[type="password"] {
width: 200px;
}
#main_login_form .label {
text-align: right;
}
#shipping_method_form ul {
list-style: none;
}
#shop_logo {
position:absolute;
top:21px;
left:0px;
}
#demo_store {
position:absolute;
top:21px;
right:0px;
}
#update_basket_items_table td, #basket_table th {
border-bottom:1px solid #E0E0E0;
}
#basket_table th {
padding:12px 0;
}
#extra_product_images_table .product {
height:120px;
width:175px;
}
#update_basket_items_table .product_name {
padding-top:12px;
}
#id_coupon, #id_ship_zipcode, #id_ship_country {
width:185px;
}
#coupon_code_table .title {
float:left;
font-size:11pt;
padding:7px;
}
#id_bill_company, #id_bill_firstname, #id_bill_lastname, #id_bill_address1, #id_bill_address2, #id_bill_city, #id_bill_state, #id_bill_zipcode, #id_bill_country, #id_bill_email, #id_bill_phone, #id_ship_firstname, #id_ship_lastname, #id_ship_address1, #id_ship_address2, #id_ship_city, #id_ship_state, #ship_zipcode, #ship_country, #id_referred_by {
width:181px;
padding:3px 5px 0;
}
.update_bill_address, .update_ship_address {
margin: 5px 10px;
}
.update_bill_address {
margin:14px 0 0 192px;
}
#recalc {
cursor: pointer;
}
.product_name a:hover {
text-decoration:underline;
}
#id_creditcard-ccv, #update_address {
margin-right:5px;
}
#center-prod-image {
height:400px;
width:473px;
line-height:400px;}
#center-prod-image img {
vertical-align:middle;
}
div.step {
background-color: #eee;
clear: both;
padding:5px 11px;
margin:4px 0;
}
div.step h2 {
display: inline;
}
div.step info {
font-size: 11px;
color: #777;
}
</link>
<link href="/media/css/main.css" rel="stylesheet">
/* base.css */
/*************************** Global Styles ***************************/
* {
margin: 0;
padding: 0;
}
object, a {outline:none}
h4 {
font-weight:bold;
font-size: 12px;
}
object {outline:none}
body {
background-color:white;
text-align: center;
line-height:160%;
font-family: "Times New Roman", serif;
font-size: 12px;
color: #666;
}
a {
color: #666;
}
#header, .footer { font: 12px "Times New Roman", serif; }
#header a, .footer a {
color: #000;
text-decoration: none;
}
p {
font: 13px "Times New Roman", serif;
}
.blog p { color: #979797; margin: 3px 0 5px; }
#content {
margin:0 auto 30px;
text-align:left;
width:970px;
height:100%;
}
.store #content {
/*padding-left: 22px;*/
width: 950px;
}
img { border:0px; }
#newsletter_signup_position {
bottom: 44px;
height: 0px;
margin: 0 auto;
position: relative;
right: 0;
text-align: left;
width: 970px;
z-index: 1000;
}
#newsletter_signup {
position: absolute;
background: #fbfbfb url('http://www.stampdla.com/shop/images/common/newsletter_bg.gif') 0 0 no-repeat;
bottom: 0px;
height: 0px; /* full height: 230px */
overflow: hidden;
right: 0px;
width: 324px;
}
#newsletter_signup form {
display: block;
height: 211px;
padding: 10px 19px;
width: 286px;
}
#newsletter_signup .container {
display: block;
height: 211px;
padding: 10px 19px;
width: 286px;
}
#newsletter_signup label.email {
display: block;
height: 127px;
overflow: hidden;
text-indent: -9999px;
width: 286px;
}
#newsletter_signup .info,
#newsletter_signup .thanks_info {
display: block;
height: 28px;
text-indent: -9999px;
background: url('http://www.stampdla.com/shop/images/common/newsletter_bg.gif') -343px -95px no-repeat;
margin-bottom: 12px;
}
#newsletter_signup .thanks_info {
margin-top: 127px;
}
#newsletter_signup .errorlist,
#newsletter_signup .errorlist li {
height: 28px;
overflow: hidden;
display: block;
margin: 0;
padding: 0;
line-height: 28px;
color: #cc0000;
}
#newsletter_signup .errorlist {
margin-bottom: 12px;
}
#newsletter_signup #id_email {
display: block;
width: 181px;
height: 25px;
padding: 5px 10px;
border: none;
background: url('http://www.stampdla.com/shop/images/common/newsletter_bg.gif') -342px -134px no-repeat;
float: left;
margin-right: 5px;
}
#newsletter_signup #id_email.initial {
background-position: -342px -177px;
}
#newsletter_signup #newsletter_submit {
display: block;
float: left;
height: 35px;
padding: 5px 10px;
width: 80px;
border: none;
background: url('http://www.stampdla.com/shop/images/common/newsletter_bg.gif') -549px -177px no-repeat;
text-indent: -9999px;
overflow: hidden;
}
#newsletter_signup .close {
background: url('http://www.stampdla.com/shop/images/common/newsletter_bg.gif') -624px -10px no-repeat;
bottom: 221px;
display: block;
position: relative;
left: 300px;
height: 14px;
overflow: hidden;
text-indent: -9999px;
width: 14px;
}
#newsletter_signup .thanks {
font-size: 15px;
text-align: center;
color: black;
line-height: 37px;
}
table#base {
height:100%;
}
#email_address {
height:15px;
padding:1px;
}
form {
padding:0pt;
margin:0pt;
}
/******* FONT STACKS *******/
@font-face {
font-family: 'US101Regular';
src: url('http://www.stampdla.com/shop/fonts/us101-webfont.eot');
src: url('http://www.stampdla.com/shop/fonts/us101-webfont.eot?#iefix') format('embedded-opentype'),
url('http://www.stampdla.com/shop/fonts/us101-webfont.woff') format('woff'),
url('http://www.stampdla.com/shop/fonts/us101-webfont.ttf') format('truetype'),
url('http://www.stampdla.com/shop/fonts/us101-webfont.svg#US101Regular') format('svg');
font-weight: normal;
font-style: normal;
}
/******* END FONT STACKS *******/
/*************************** End Global Styles ***************************/
/*************************** Header Styles ***************************/
#header {
height:117px;
border-bottom:1px solid #bcbbbb;
margin-bottom: 25px;
}
.header_content {
width: 980px;
margin: 0 auto;
height: 117px;
}
#header h1 {
width: 301px;
height: 82px;
margin-top: 17px;
background: url('/Images/blkx/PSP_noir.png') no-repeat;
text-indent: -9999px;
float: left;
}
#header h1 a {
width: 100%;
height: 100%;
display: block;
}
#header ul,
#header ul li {
display: inline;
height: 135px;
line-height: 135px;
margin-left: 18px;
/* font-size: 13px;*/
letter-spacing: 4px;
}
#header ul li { margin-left: 30px; }
#header ul li:first-child { margin-left: 0px; }
/*************************** End Header Styles ***************************/
/*************************** Footer Styles ***************************/
.footer ul.clear{
border-top: 1px solid #bcbbbb;
border-bottom: 1px solid #bcbbbb;
color:#000;
position:relative;
min-width: 580px;
font-size: 10px;
}
.footer ul {
margin: 0;
padding: 0;
}
.footer ul li {
list-style-type: none;
letter-spacing: 3px;
}
footer ul li.clear { height: 1px; }
.footer li.footer_nav {
float: left;
margin-left: 30px;
line-height: 43px;
}
.footer li.footer_nav ul li {
margin-right: 25px;
}
.footer li.soc_icons {
float: right;
margin-right: 60px;
height: 42px;
}
li.soc_icons ul {
height: 100%;
margin-top: 8px;
}
li.soc_icons ul li {
margin-left: 5px;
float: left;
width: 29px;
height: 27px;
overflow: hidden;
}
/* IE6 Bugs */
.ie6 ul li.soc_icons,
.ie6 ul li.footer_nav {
margin: 0 auto;
text-align: left;
display: inline;
}
.ie6 ul li.soc_icons { width: 250px; }
.ie6 ul li.footer_nav { width: 350px; }
.ie6 ul li.footer_nav {
margin-left: 20px;
}
/* END IE6 Bugs */
li.soc_icons ul li a {
width: 100%;
height: 100%;
display: block;
text-indent: -9999px;
text-decoration: none;
}
li.flag_icn a {
background: url('/Images/blkx/soc_sprite2.png') no-repeat 0px 0px;
}
li.vimeo_icn a {
background: url('/Images/blkx/soc_sprite2.png') no-repeat -32px 0px;
}
li.youtube_icn a {
background: url('/Images/blkx/soc_sprite2.png') no-repeat -66px 0px;
}

li.fb_icn a {
background: url('/Images/blkx/soc_sprite2.png') no-repeat -99px 0px;
}


li.fb_icnb a {
background: url('/Images/social media pics/fb1c.png') no-repeat -99px 0px;
}


li.twitter_icn a {
background: url('/Images/blkx/soc_sprite2.png') no-repeat -133px 0px;
}
li.flag_icn a:hover {
background: url('/Images/blkx/soc_sprite2.png') no-repeat 0px -28px;
}
li.vimeo_icn a:hover {
background: url('/Images/blkx/soc_sprite2.png') no-repeat -32px -28px;
}
li.youtube_icn a:hover {
background: url('Images/blkx/soc_sprite2.png') no-repeat -66px -28px;
}
li.fb_icn a:hover {
background: url('Images/blkx/soc_sprite2.png') no-repeat -99px -28px;
}
li.twitter_icn a:hover {
background: url('Images/blkx/soc_sprite2.png') no-repeat -133px -28px;
}
li.footer_nav ul li {
display:inline;
}
/* Footer Stick Chunk */
/** {
margin: 0;
}*/
html, body {
height: 100%;
}
.wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -65px;
/* This bit is to give the site a min width and has nothing to do with the sticky footer */
min-width: 980px;
/* End min width */
}
.footer, .push {
height: 42px;
}
.push { margin-top: 42px; }
/* End Footer Stick Chunk */
/*************************** End Footer Styles ***************************/
/*************************** Collections Page ***************************/
.collections #content {
width: 1015px;
margin: 60px auto;
}
#feature_list_container {
margin-left: -18px;
}
.feature_thumb,
.feature_image,
.feature_image img {
width: 250px;
height: 200px;
}
.feature_thumb {
margin: 0 6px 6px 0;
float: left;
border:1px solid #F2F2F2;
}
.feature_thumb.last {
margin-left: 0;
margin-right: 0px;
clear:right;
}
/*************************** End Collections Page ***************************/
/*************************** Inspired Page ***************************/
.inspired #content iframe{
border: none;
margin: 0 auto;
}
/*************************** End Inspired Page ***************************/
/*************************** SHOP and BLOG EXTRAS ***************************/
.blog_entry .share,
.store .share {
/* display: inline-block;<li class="e-mail">
<a onclick="window.open('','page','toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=no,resizable=no,width=450,height=396,titlebar=yes')" target="page" href="/send-to-friend/send-to-friend/?url=">e-mail</a>
</li>*/
float:right;
position: relative;
width:165px;
_width:185px;
}
.store .share { float: none; }
.blog_entry .share .title,
.store .share .title {
font-size: 10px;
text-transform: uppercase;
float:left;
}
div.share { height: 100%; padding-top: 10px; }
ul.services { height: 100%; }
.services li {
float:left;
list-style:none;
margin:0 0 0 10px;
padding:0;
}
.services li a {
float:left;
position:relative;
background:url('/Images/blkx/share-sprite.png');
display: block;
height: 16px;
width: 16px;
line-height:0;
text-indent:-9999px;
}
.share .services .facebook, .share .services .twitter {
width:16px;
height:16px;
}
.share .services .facebook a {
background-position: 0 0;
}
.share .services .twitter a {
background-position: -16px 0;
}
.share .services .delicious a {
background-position: -32px 0;
}
.share .services .stumbleupon a {
background-position: -48px 0;
}
.share .services .e-mail a {
background-position: -64px 0;
}
.share .services .facebook a:hover {
background-position: 0 -16px;
}
.share .services .twitter a:hover {
background-position: -16px -16px;
}
.share .services .delicious a:hover {
background-position: -32px -16px;
}
.share .services .stumbleupon a:hover {
background-position: -48px -16px;
}
.share .services .e-mail a:hover {
background-position: -64px -16px;
}
/*************************** End SHOP and BLOG EXTRAS ***************************/
/*************************** Terms Page ***************************/
.terms #content {
width: 595px;
margin: 0 auto;
}
.terms h2 {
border-bottom:1px solid #F2F2F2;
padding-bottom: 5px;
margin-top: 30px;
font-weight: normal;
color: #000;
}
.terms h2:first-of-type {
margin-top: 0;
}
.terms p {
margin-top: 5px;
}
/*************************** End Terms Page ***************************/
/*************************** About Page ***************************/
.about img {
margin: 0 auto;
display: block;
}
/*************************** End About Page ***************************/
/*************************** Contact Page ***************************/
.contact #content {
width: 755px;
margin: 75px auto 0;
}
/*.ie6 .contact #content,*/
.oldie .contact #content {
width: 775px;
}
.contact .hat_row {
width: 600px;
height: 257px;
float: left;
/*background: url('http://www.stampdla.com/shop/images/common/contact_hats.jpg') no-repeat;*/
}
.contact_txt {
margin: 115px 0 0 45px;
float: left;
}
.contact h2 {
color: #000;
}
.contact a {
color: #000;
text-decoration: none;
}
.contact a:hover {
color: #666;
}
/*************************** End Contact Page ***************************/
/*************************** Utility Styles ***************************/
.clear, .cleared {
clear:both;
height: 1px;
}
.retailer_store {
margin-bottom: 12px;
}
