/* Site Style 1 */
#global h1#logo a,
#global h1#logo a:link,
#global h1#logo a:visited {
  background:transparent url('https://webcube-general.s3.amazonaws.com:443/stampd%2Fmedia%2Fcloud%2F2013%2F04%2F03%2Flogo.png') no-repeat left top;
}

@font-face{
  font-family:"custom";
  src:url("/fonts/futureFonts.ttf");
}

@font-face {
  font-family: "headingfontNumber";
  src:url("/fonts/_H_HelveticaNeueExtras.ttf");
}

@font-face{
  font-family:"headingfont";
  src:url("/fonts/bebas.ttf");
}

@font-face{
  font-family:"coco";
  src:url("/fonts/Coco-Regular.otf");
}
@font-face{
  font-family: "customThin";
  src:url("/fonts/Roboto-Thin.ttf");
}

@font-face{
  font-family: "customLight";
  src:url("/fonts/Roboto-Light.ttf");
}
@font-face{
  font-family: "customRegular";
  src:url("/fonts/Roboto-Regular.ttf");
}

.finalprice {
  font-family: custom;
  color: green;
  font-size: 70px;
  margin: auto;
  display: block;
  margin-top: 25px;
}

.error {
  color: red !important;
}

.noprice {

  font-family: customRegular;
  color: green;
  font-size: 14px;
  margin: auto;
  display: block;

}

.hide {
  display: none;
  padding: 10px;
}

.sprint-menu img{
  width: 70px;
}

.tmobile-menu img{
  width: 82px;
  margin-top: 10px;
}


.listdivsheetmusic img{
  width: 16px !important;
  padding-top: 2px !important;
}

.menu .selected a{
  color: green;
}
.description-window .song-artist{
  font-family: "customLight";
  font-size: 24px;
  font-weight: bold;
}

.description-window .song-title {
  font-family: "customThin";
  font-size: 24px;
  color: black;
  font-weight: bold;
}

.progressions {
  font-family: "customLight";
  font-size: 15px !important;
  color: #333;

}

.description-window {
  font-family: "customLight";
  font-weight: 900;
  color: black;
  font-size: 30px;
  text-align: left;
  margin-left: 10px;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: -30px;
  background: #ddd;
  text-wrap: normal;
}

.main-share {
  float: left;
}

.description-window p{
  white-space: normal;
}

.fb-comments {
  text-align: left;
  width: 49%;
  float: left;
  display: inline;
  margin-top: 30px;
  margin-left: 10px;
}

.fb-like {
  margin-top: 5px;
  padding: 5px;
}

.heading {
}
.list-songs-content{
  max-height: 300px;
  overflow-y: scroll;
  padding-top: 10px;
  padding-bottom: 10px;
}

.list-songs-content li{
  display: flex;
  width: 100%;
  float: left;

}

.footer-push {
  height: 20px;
}
.fb-share-button {
  top: -0.5px;
  padding-left: 5px
}

.headProgression {
  font-family: customLight;
  font-size: 20px;
  color: black;
}

.footer-custompage {
  margin-top: 10px;
  padding-top: 11px;
  overflow: hidden;
  height: 18px;
}




.lower-panel{
  float: left;
  width: 100%;
  min-width: 100%;
}

.songlisttitles{
  font-size: 14px;
  font-family: customRegular;
}

.songlisttitles p{
  font-family: customLight;
}

.heading-container {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding-bottom: 7px;
  margin-top: 8px;
  /* color: #d6dbdb; */
  border-bottom-color: #e9ebee;
}

.other-titles{
  width: 49%;
  float: left;
  display: inline;
  font-family: customThin;
  margin-top: 35px;
  text-align: left;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #d3d6db;
  min-width: 250px;


}

.other-titles .heading{
  font-size: 22px;
}

.listdiv{
  padding-right: 15px;
}

.listdiv img {
  padding-top: 5px;
}

.other-titles img {
  width: 23px;
  float: right;
}
.footer_new {
  float: right;
  list-style-type: none;
  width: 75px;
}

.classic-text p {
  font-family: "customRegular" !important;
  font-size: 8px !important;
  margin-top: -1px !important;
}

.classic-text-concept p{
  font-family: "customRegular" !important;
  margin-top: 4px !important;
  font-size: 4px !important;
}

.classic-title p{
  height: 37px !important;
  margin-top: -19px !important;
}

.number-tutorials p {
  font-family: "customThin" !important;
  font-size: 13px !important;
  margin-top: 43px !important;
}

.no-image {
  background: #EEE;
  width: 186px !important;
  height: 237px !important;
  float: left !important;
  left: 5px;
  top: 10px;
  margin: 0 0 28px 10px !important;
  position: relative;
}

.no-image img {
  width: 100px;
}

.no-image p {
  font-size: 19px;
  font-family: "customThin";
}
.footer_bottom {
  float: right;
  list-style-type: none;
  width: 100%;
  background-color: black;
  height: 38px;
}

.footer_bottom ul {
  float: right;
}
.footer_bottom img {
  width: 25px;
}

.footer_bottom li {
  float: left;
  padding-right: 5px;
}

.share-nav {
  margin: auto;
  width:0px;
  text-align: center;
}
.footer_new img {
  width: 20px;
}

.footer_new li  {
  float: left;
  padding-right: 5px;
}
.share-nav .footer_new {
  margin-right: -70px;
}

.nav-top-menu{
  height: 28px  !important;
  background:  black !important;
}

.nav-menu-container {
  width: 100% !important;
  overflow: hidden;
}

.nav-container .menu{
  height: 32px;
}

#global {
  background: white !important;
  width: 100% !important;
}
.makes ul li{
  float: left;
  width: 65px;
  list-style: none;
  padding: 10px;
}

.makes ul {
  padding: 0px;
}

.menu a{
  font-family: "custom";
  font-size: 15px;
  color: white !important;
  /*border-right-style: solid;
    border-width: 1px;*/
  padding: 8px;
  border-color: #8c8c8c;
}

.topMenu {
  background: black;
  height: 20px;
  text-align: center;
}

.column_content{
  background: black;
}

.mute-status{
  font-family: "custom";
  font-size: 16px;
  color: #7c7c7c;
  margin-right: -5px !important;
}

.leftpanel {
  float: left !important;
  width: 330px !important;
  background: white !important;
  margin-left: 3px !important;
  height: 164px;
}

.leftpanel img {
  width: 160px !important;
  float: left !important;
  padding-left: 20px !important;
  position: relative;
  left: 49px;
}

.rightpanel {
  width: 330px !important;
  float: right !important;
  height: 165px !important;
  margin-right: -15px !important;
}

.number-container {
  height: 30px;
  background: #333;
}

.current-index-off {

  color: white;
  font-size: 30px;
  font-weight: bold;
  padding-top: 8px;
  /*border-bottom-color: red;
  border-bottom-style: solid;
  border-bottom-width: thick;*/
}

.display-device {
  width: 100%;
  max-width: 583px;
  margin: auto;
  display: block;
  height: 100%;
  padding: 0px;

}

.display-device ul li{
  float: left;
  list-style: none;
  cursor: pointer;
  color: black;
  display: block;
  text-align: left;
  font-size: 17px;
  padding-right: 10px;
  padding-left: 10px;
}

.number-container ul li{
  list-style: none;
  float: left;
}

.number-container ul {
  float: left;
  padding: 0px;
  margin-top: 0px;
}

.center-error {
  text-align: center !important;
  padding: 15px;
}

.display-device ul{
  width: 90%;
  height: 100%;
  padding-top: 10px;
  display: block;
  text-align: center;
}

.display-device ul li p{
  font-family: custom;
  font-weight: bold;
  font-size: 17px;
  padding-top: 10px;
}

.display-device ul li img:hover + .title-display-list p{
  color: orange;
}

.title-display-list  h2{
  font-family: headingfont!important;
  color: black;
}

.heading-middle {
  font-family: customRegular;
  color: black;
  font-size: 18px;
  padding-bottom: 10px;
}

.condition {
  display: none;
  padding: 20px;
  height: 100px;
}

.condition input {
  width: 30px;

}

.display-device .title-display-list p {
  font-family: headingfont !important;
  border-radius: 10px;
  padding-bottom: 8px;
  color: white;
  text-align: center;
  font-size: 13px;
}

.current-index-on {

  color: red;
  font-size: 40px;

  /*border-bottom-color: red;
  border-bottom-style: solid;
  border-bottom-width: thick;*/
}

.current-index-complete {

  color: orange;
  font-size: 30px;
  padding-top: 8px;
  /*border-bottom-color: red;
  border-bottom-style: solid;
  border-bottom-width: thick;*/
}

.number {
  float: left;
  display: flex;
  width: 43px;
  height: 70px;
  position: relative;
  font-family: headingfont;
  margin: auto;
  margin-top: 0px !important;
  text-align: center;
  margin-left: 29PX;
}

.rightpanel img{
  width: 230px !important;
  margin-top: 20px;
}

.artistsName {
  font-family: "customLight" !important;
  font-size: 18px !important;
  float: left !important;
  left: 25px;
  top: 67px;
  position: relative;
  color: #dcdcdc;
}



.inverseLogo {
  width: 25px;
  padding-left: 5px;
  margin-bottom: -3px;
  margin-right: -7px;
}

.featured_title {
  float: left !important;
  font-family: "Times New Roman"
}

.searchForm {
  width: 150px !important;
  position: absolute;
  float: left !important;
}

.search{
  background: white !important;
  /*border-color: #20b5ed !important;*/
  margin-left: 5px !important;
  margin-top: 5px !important;
  width: 150px !important;
  height: 18px !important;
  text-align: left !important;
  padding: 0px !important;
  border-radius: 0px !important;
  font-family: "customLight" !important;
  font-size: 12px !important;
}

.mute-btn {
  float: right !important;
}

.mute-btn input{
  width: 15px !important;
  margin-top: -8px !important;
  margin-right: -5px !important;
  border: none;
}
#menu {
  position:fixed;
  top:0px;
  width:100%;
  z-index:9999;
  display: none;
}

.nonsubscibe-promo h2{
  text-align: center;
  font-family: "customLight";
}

.nonsubscibe-promo h2 i {
  color: red;
}

.title{
  font-family: headingfont;
  font-size: 20px;
  text-align: left;
  padding-left: 10px;
  color: white;

}

#product{
  background: white;
}

.downbutton img{
  margin-top: -5px;
  margin-left: 4px;
  width: 70px;

}

.history {
  padding-right: 4px;
}

.heading-pharse h2{
  font-family: headingfont;
  font-size: 20px;
  padding: 35px;
  color: white;
}

.iphone-menu {
  width: 60px;
  margin-top: -7px;
}

.samsung-menu {
  width: 80px;
}

.samsung-menu img{
  width: 80px;
  margin-top: 33px;
  cursor: pointer;
}

.iphone-menu img{
  width: 60px;
  padding-bottom: 5px;
}

.blackberry-menu{
  width: 60px;
}

.blackberry-menu img{
  width: 35px;
}

.htc-menu img {
  width: 50px;
}

.lg-menu img{
  width: 50px;
}

.motorola-menu img{
  width: 50px;
}

.make-menu {
  float: left;
  cursor: pointer;
  padding: 7px;
  display: block;
  list-style: none;
  list-style-type: none;
  height: 60px;

}

.make-menu ul li {
  list-style: none;
  list-style-type: none;
}

.make-menu ul{
  list-style: none;
  list-style-type: none;
}

.carriers ul li{
  list-style: none;
  list-style-type: none;
  display: block;
}

.carriers ul {
  list-style: none;
  list-style-type: none;
  display: block;
  padding: 0px;

}

.nokia-menu {
  width: 75px;
  margin: auto;
}

.nokia-menu img{
  width: 75px;
  margin-top: 33px;
}

.makes {
  width: 90%;
  max-width: 455px !important;
  text-align: left !important;
  margin: auto;
  height: 90%;
  margin-top: 42px;
  padding-top: 10px;
  /*padding-bottom: 100px;*/

  border-width: 0.5px;
  border-radius: 10px;
  overflow: auto;
  background: beige;
}

.list-items {

  max-width: 95%;
  text-align: center !important;
  margin: auto;
  margin-top: 42px;
  /*padding-bottom: 100px;*/
  border-width: 0.5px;
  border-radius: 10px;
  overflow: hidden;
  background: #333333;
}

.list-items.display-device ul li img{
  height: 140px;
  display: block;
  padding: 5px;
}

.carriers {
  width: 100%;
  max-width: 360px;
  text-align: left !important;
  margin: auto;
  height: 90px;
  border-width: 0.5px;
  border-radius: 10px;
  overflow: hidden;
}

.inputs{
  font-family: customRegular;
  font-size: 15px;
  width: 100%;
  font-size: 15px;
  text-align: center !important;
  height: 40px;
  display: flex;
}

.broken-button-title {
  font-family: customLight;
  font-size: 11px;
  text-align: center;
}

.broken-buttons {
  display: none;
  width: 155px;
  display: none;
  /* width: 100%; */
  clear: both;
  color: beige;
  background: #880000;
  height: 100px;
  font-size: 11px;
}

.broken-buttons input{
  font-size: 10px;
  width: 26px;
}

.input-container {
  float: left;
  padding-left: 10px;
  margin-top: 10px;
}

.carries img {
  width: 50px;
}

.att-menu img {
  width: 78px;
  margin-top: 25px;
}

.verizon-menu img{
  width: 58px;
  margin-top: 5px;
}

.tmobile-menu img {

}
.center-border {
  width: 190px;
  max-height: 200px;
  text-align: center !important;
  background: #333333;
  margin: auto;
  padding: 10px;
  display: block;

  border-width: 0.5px;
  border-radius: 10px;
  overflow: hidden;
}

.samsung img{
  width: 106px !important;
  margin-bottom: 3px !important;
}

.menu img{
  width: 30px;
  padding: 0px;
}

#content_container {
  padding-top: 15px;
  min-height: 400px;
}

#content {
  margin: auto !important;
  text-align: auto !important;
  float: none !important;
  width: 1000px;
}
#content_container {
  background: white !important;

}
.logo img{
  width: 300px;
}

.logo{
  display: inline-flex;
  margin: auto;
  text-align: center;
  background: white !important;
  width: 100% !important;
  padding-top: 2px !important;
  height: 120px;
}

.container {
  width: 100% !important;
}

.position {
  width: 100% !important;
}

.column img{
  display: block !important;
  padding: 10px !important;
}

.icon,
.graphic,
.accent_graphic,
.rss,
.twitter,
.facebook,
ul.share_services li a,
ul#nav_footer li#nav_footer_newsletter form input.button,
ul#nav_global_secondary li#nav_search form input.button,
.sub_accent_button .accent_graphic,
ul#nav_footer li#nav_footer_newsletter form input.button,
.news ul.social li.email a,
.blog .entry .footer .share ul li a,
.press .media .controls a,
.press .share ul li a,
.gallery #content .column_content .description p#view_larger a,
.gallery #content .column_content .thumbnails .controls a,
.gallery .share ul li a,
.videos .description .share ul li a,
.videos .thumbnails .controls a,
#order_items .controls a,
.search_results form#form_search p input.button,
.jobs form#form_job_search p input.button,
.locator form#form_find_dealer p input.button,
.referrals #content_wrap .social_links ul li a .icon,
body.team_member .news .controls a span,
  /*#breadcrumbs .accent,*/
body.lookbook .controls a span,
.close {
  background-image:url('https://webcube-general.s3.amazonaws.com:443/stampd%2Fmedia%2Fcloud%2F2013%2F01%2F30%2Felements.png');
}

body {
  margin: auto !important;
  display: block;
  text-align: center !important;
}
/*
    @color1 = #f8901d
    @color2 = #cc7818
    @body_font_color = #555555
    @header = font-family:Montserrat; text-transform:uppercase; font-weight:400;
*/

@font-face {
  font-family: 'US101Regular';
  src: url('/cloud/file/us101-webfont.eot');
  src: url('/cloud/file/us101-webfont.eot?#iefix') format('embedded-opentype'),
  url('/cloud/file/us101-webfont.woff') format('woff'),
  url('/cloud/file/us101-webfont.ttf') format('truetype'),
  url('/cloud/file/us101-webfont.svg#US101Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* cloud */
body,html {
  background:#fff;
  font-family: "Times New Roman", "Georgia", serif;
  min-width: 100%;
  height: 100%;
}

.rotate-right img{
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.history-nav {
  width: 216px;
  height: 60px;
  text-align: left;
  padding-right: 5px;
  border-width: 0.5px;
  border-radius: 5px;
  text-align: center;
  overflow: hidden;
  background: #333;
}

.history-noborder {
  margin-right: auto;
  margin-left: auto;
  width:  303px;
  height: 78px;
  text-align: center;
  display: flex;
}

.app {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto;
  background: orange;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 40px;
}

.title-display {
  background: black;
  width: 100%;
}

.title-list {
  font-family: customLight;
  float: left;
}

.device-container {
  width: 400px;
  margin: auto;
}

.device-models{

  width: 194px;
  margin: auto;
  cursor: pointer;
  overflow: hidden;
}

.device-list{
  float: left;
  padding: 0px;
}

.iphone-list img{
  width: 84px;

}

.ipad-list img{
  width: 104px;
}

.macbook-list img{
  width: 100px;
  padding-top: 20px;
}


.map {
  width: 100% !important;

}

.map img{
  padding: 20px;
  width: 50px;
}

.tradin a{

  font-family: customLight !important;
  font-size: 24px !important;
  color: black !important;
}

.tradin{
  padding: 30px !important;
}

.enslave {
  height: 100%;
  width: 100%;
}

.footer-app{
  height: 20px;
  bottom: 40px;
  left: 0px;
  right: 0px;
  width: 100%;
  display: flex;
  margin: auto;
  margin-top: -30px;
  border-bottom-color: black;
  border-bottom-style: solid;
  border-bottom-width: thick;

}

.footer-text {
  font-family: customLight;
  font-size: 14px;
  margin-bottom: 10px;
  padding-top: 25px;
  color: black;
  width: 100%;
}

.left {
  float: left;
  text-align: left;
}

.right {
  float: right;
  text-align: right;
}


.startbutton img{
  width: 160px;
  margin-top: 50px;
  cursor: pointer;
}

@-webkit-keyframes startbutton {
  from { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #91bd09; -webkit-box-shadow: 0 0 18px #91bd09; }
  to { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
}

a.startbutton {
  -webkit-animation-name: greenPulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}

#content_wrap h1 { padding:0 0 10px; }

.accent_button,
.submit,
.sub_accent_button,
.button,
h1,
h2,
h3,
h4,
h5 {
  font-weight:normal;
  /* letter-spacing:1px; */
  /* STYLES */
}
.accent_button,
.submit,
.sub_accent_button,
.button { letter-spacing:1px; }

.submit { padding: 5px 15px; }

#global { background:#FFF;
}
/*#global .container { padding-top:32px; }*/
#wrap {
  border:none;
  background:#FFF;
}

#nav_search {display:none; }

#content_wrap { background:none; padding-bottom:75px;  }
#footer { border:1px solid #bcbbbb; border-left:0; border-right:0; }

#global h1#logo { margin:0; }
#global h1#logo a,
#global h1#logo a:link,
#global h1#logo a:visited {
  background:transparent url('http://www.playsmoothpiano.com/Images/blkx/PSP_noir2b.png') no-repeat left top;
  text-indent:-9999px;
  font-size:38px;
  width:309px; height:59px;
}

.unlocked-menu img{
  width: 70px;
  float: left;
  margin-top: -80px;
}

.logo-image{
  margin: auto;
  float: left;
  width: 300px;
  min-width: 300px;
}

.logo-image img{
  width: 96px !important;
}

.menu {
  text-align: center;
  min-width: 100%;
  background: black;
  max-height: 30px;
}


body {
  background-color: white !important;
  margin-bottom: 50px;
}

input.button[disabled="disabled"] {
  color:#FFF;
  border:1px solid #FFFFFF;
}

#product_nav ul li a[data-category="selects"] {
  width: 31px;
  height: 25px;
  position: relative;
  top: -7px;
  background: transparent url('/cloud/file/cat_basket.png') center no-repeat;
  text-indent: -9999px;
}

.footer ul {
  margin: 0;
  padding: 0;
  height: 38px;
  background: black;

}
